body {
	background-color:#C7E1E1;
	height:100%;
	width: 100%;
	color:#03345E;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: .02em;
	-webkit-font-smoothing: antialiased;
	margin:0;
	background-image: linear-gradient(25deg, #bc9c71, #c1af95, #c3c2b9, #c2d6de);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


#sky {
	position: absolute;
	z-index: -100;
	//background-image: linear-gradient(25deg, #bc9c71, #c1af95, #c3c2b9, #c2d6de);
	height: 100%;
	width: 100%;
	display: block;

}

.active {
	//top:0;
	opacity:1;
	display: block;
	z-index:10;
}
.inactive{
	//top:100px;
	opacity:0;
	display: none;
	z-index:-5;
}

#artists li {
	height:40px;
	width:100%;
	display: block;
	letter-spacing: .1em;
}

a {
	color:#03345E;
	text-decoration: none;
	transition: all .25s;
}

a:hover {
	//letter-spacing: .1em;
	//font-size:20px;
}

h1 {
	display: block;
	font-size: 8vw;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .2em;
	transition: all 1s;
	cursor: pointer;
	font-weight: 700;
}

h1:hover {
	//font-size: 62px;
	opacity: .6;
}
.subtext {
	font-size:18px;
}

section {

	//min-height: 100vh;
	padding:0px 15px 100px 15px;
	box-sizing: border-box;
	position: absolute;
	top:300px;
	left:0;
	width:100%;
	transition:all .45s;
	//transition-timing-function: cubic-bezier(.7,.41,.5,.64);

}

#nav {
	width: 100vw;
	position: fixed;
	z-index:1;
}


#nav li:hover, #artists li a:hover{
	//letter-spacing: .3em;
	//font-size:14px;
	opacity:.6;
}

#nav ul {
	margin-top: 20px; */
    padding: 0px;
    /* float: right; */
    position: absolute;
    right: 0;
    top:10px;
    text-align: right;
}
#nav h1 {
	margin-top:124px;
}


#nav li {
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-size: 16px;
	//display: inline;
	//margin:30px;
	padding:5px 15px;
	
	transition: .5s;
	cursor: pointer;
	height:30px;
}

li {
	list-style: none;
	text-indent: none;
}
ul {
	text-indent:none;
}

#nav li, #gh {
	cursor:pointer;
}

#artists ul{
	text-align: center;
	column-count: 3;
	column-gap:60px;
	text-align: left;
	max-width: 800px;
	margin:auto;
	line-height: 1.5em;
	opacity: 0;

}

#artists li {
	text-align: center;
	font-size:16px;
	text-transform: uppercase;
	font-weight: 700;
}

#svg-container {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 200px;
  max-height: 500px;
  bottom:-100px;
  transform: rotateX(5deg);
  
}

#svg {
  width: 100%;
  height: 100%;
}

path {
  stroke-width: 1px;
  stroke:#03345E;
  fill: none;
  transition: stroke 10s;
}


// top center navigation
#nav {
		position: absolute;
	}
	

	
	#nav ul{
		padding:0;
		margin:0;
		text-align: center;
		left:3vw;
	}

	#nav li {
		//width: 30vw;
		text-align: center;
    	padding: 1vw 5vw;
    	margin: 10px 0px;
    	font-size: 12px;
    	display: inline-block;
    /* padding: 5px 5px; */
    	box-sizing: border-box;
	}



@media screen and (max-width: 768px) {
	body{
		font-size: 18px;
	}
	h1 {
		//font-size:40px;
	}
	h1:hover {
		//font-size:42px;
	}

	.subtext {
	font-size:14px;
	}

	#nav {
		position: absolute;
	}
	

	#artists ul{
	padding-left:50px;
	padding-right:50px;
	column-count: 1;
	}
	#nav ul{
		padding:0;
		margin:0;
		text-align: center;
		left:3vw;
	}

	#nav li {
		width: 30vw;
		text-align: center;
    	padding: 1vw;
    	margin: 10px 0px;
    	font-size: 12px;
    	display: inline-block;
    /* padding: 5px 5px; */
    	box-sizing: border-box;
	}
	#nav li:hover {
		//letter-spacing: .2em;
		//font-size: 12px;
	}
	}